# Ignore node_modules folder
node_modules/

# Ignore Cypress specific folders
cypress/screenshots/
cypress/videos/
cypress/reports/

# Ignore Cypress's internal testing files
cypress/.cache/

# Ignore Mochawesome related files and folders
mochawesome-report/
mochawesome.json

# Ignore package-lock.json (for version control, it may vary)
package-lock.json

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment configuration files (if you want to keep them private)
*.env
